body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin:  5px auto;
  padding: 5px;

  }
page[size="Letter"] {  
  width: 21.59cm;
  height: 27.94cm; 
}
 
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}